body { padding: 0; margin: 0; }

h1 {
    display: flex;
    width: calc(100vw - 4px);
    height: 10vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, blue, yellow); 
    border: 2px ridge grey;
    margin: 0;
}