body { padding: 0; margin: 0; font-family: monospace, system-ui; }

h1 {
    display: flex;
    width: calc(100vw - 4px);
    height: 10vh; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, blue, yellow); 
    border: 2px ridge grey;
    margin: 0;
}

h3 {
    width: 50vw; height: 5vh; display: flex; justify-content: center; align-items: center;
    background: radial-gradient(rgb(0 0 249 / 30%) 25%, rgb(138 43 226 / 10%) 60%, transparent 70%);
}

#l-l {
    font-weight: normal;
}

#l-l::after {
    content: "";
    animation: dots 5s linear;
}

@keyframes dots {
    0% { content: "";}
    25% { content: ".";}
    50% { content: "..";}
    75% { content: "...";}
    100% { content: "";}
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh;
    padding: 5vw;
}

#Album-Cover {
    position: relative;
    top: -15vh; left: -10vw;
    z-index: -1;
}

table > tbody > tr > td, table > thead > tr > td {
    border: 1.5px solid black;
    background: rgb(154, 136, 224);
    padding: 1.5px;
}